<div class="jumbotron center">
	<% if  user_signed_in? %>
		<p>Have fun exploring the members section of the greatest application ever created.</p>
	<% else %>
		<h1>Welcome to my app!</h1>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %> 
		</p>
	<% end %>	
</div>